BOT_TOKEN=tgbotid
MINIAPP_URL=https://domainofcasino
WEB_PORT=3000
WEB_HOST=0.0.0.0
JWT_SECRET=randomtexthere
BOT_URL=tgboturl
CRYPTO_PAY_TOKEN=52260:AA5ZRq07OETm5hYDHIm9inROCMUzREeE27L
CRYPTO_NET=testnet