BOT_TOKEN=tgbotid
MINIAPP_URL=https://domainofcasino
WEB_PORT=3000
WEB_HOST=0.0.0.0
JWT_SECRET=randomtexthere
BOT_URL=tgboturl
CRYPTO_PAY_TOKEN=getmeat @send or @CryptoTestnetBot
CRYPTO_NET=testnet/mainnet